{% extends "encyclopedia/layout.html" %}

{% block title %}
New page - Encyclopedia
{% endblock %}

{% block body %}
<h2>Create a new page</h2>

<form action="{% url 'new' %}" method="POST">
	{% csrf_token %}
	<label for="title">Title:</label><br>
	<input class="form-control" type="text" name="title" id="title"><br>
	<label for="content">Article's body (markdown):</label><br>
	<textarea class="form-control" name="content" id="content"></textarea>
	<br>
	<input type="submit" value="Save article" class="btn btn-primary">
	<input type="reset" value="Reset" class="btn btn-secondary">
</form>

{% endblock %}