$bgcolor: #fff;
$color: #202114;
$font: arial, sans-serif;
$font-size: 13px;

body {
	background-color: $bgcolor;
	color: $color;
	font-family: $font;
	display: grid;
	grid-template-rows: 1fr 10fr;
	font-size: $font-size;
	padding: 0;
	margin: 0;
}
header {
	display: grid;
	justify-items: end;
	padding: 0 1em;
}
.top_menu {
	padding: 0.8em;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	a {
		text-decoration: none;
		color: $color;
		&:hover {
			text-decoration: underline;
		}
	}
}

.search_button {
	background-color: #f8f9fa;
	padding: 0.7em;
	border: 1px solid $bgcolor;
	border-radius: 4px;
	&:first-of-type {
		margin-right: 0.5em;
	}
	&:hover {
		border: 1px solid #dadce0;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	}
}
