{% extends "auctions/layout.html" %}

{% block body %}


{% if message %}
<div>{{ message }}</div>
{% endif %}

<div class="container">
	<h2>{{ listing.title }}</h2>
	{% if listing.watchlist %}
	<button class="btn badge bg-success mb-2">Watching</button>
	{% else %}
	<button class="btn badge bg-secondary mb-2">Add to watchlist</button><br>
	{% endif %}

	<div class="row mb-2">
		<img src="{{ listing.image_url }}" alt="{{ listing.title }}'s image" class="rounded col-6">

		<div class="col-6">
			<p>{{ listing.desc }}</p>
			<span><b>Price: </b>{{ last_bid|default:listing.start_bid }}</span>

			<form action="{% url 'bid' %}" method="POST" class='small_form'>
				{% csrf_token %}
				<input type="hidden" name="user_id" value={{ user.id }}>
				<input type="hidden" name="listing_id" value={{ listing.id }}>
				<input class="form-control" type="number" step=".01" name="curr_bid" placeholder="Your bid">
				<button type="submit" class="btn btn-primary btn-sm">Place bid</button>
			</form>
		</div>
		</div>
	<h4>Details:</h4>
	<ul>
		<li>Listed by: {{ lister }}</li>
		<li>Category: {{ listing.category|default_if_none:"Uncategorized" }}</li>
	</ul>
</div>

{% endblock %}