{% extends "auctions/layout.html" %}
{% load static %}
{% block title %}{{ listing.title }} | Commerce auctions{% endblock %}
{% block body %}

{% comment %} <script type="text/javascript" src="{% static 'auctions/toggle.js' %}">
</script> {% endcomment %}
<div class="container">
{% if message %}
<div class="alert {{ alert_type }} alert-dismissible fade show" role="alert">
	{{ message }}
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
	<h2>{{ listing.title }}</h2>
{% comment %} Just for users {% endcomment %}
{% if user.is_authenticated %}
	<form action="{% url 'listing' listing.id %}" method="POST">
		{% csrf_token %}
		{% if listing.watched %}
		<button type="submit" name="watchlist" class="btn badge bg-success mb-2" id="watchlist">Remove
			from
			watchlist</button>
	{% else %}
	<button type="submit" name="watchlist" class="btn badge bg-secondary mb-2" id="watchlist">Add to
		watchlist</button><br>
	{% endif %}
	</form>	
{% endif %}

	<div class="row mb-2">
		<img src="{{ listing.image_url }}" alt="{{ listing.title }}'s image" class="rounded col-6 listing_img">

		<div class="col-6">
			<p>{{ listing.desc }}</p>
			<p><b>Current price: </b>{{ last_bid|default:listing.price }}</p>
			{% comment %} Just for users {% endcomment %}
			{% if user.is_authenticated %}
			<p>
				<span> {{ num_bids }} bid(s) so far.
					{% if  num_bids > 1 %}
					{% ifequal last_bidder user.username %}
						Your bid is the current one.
						{% endifequal %}
					{% endif %}
					</span>
					</p>

			<form action="{% url 'listing' listing.id %}" method='POST'>
				{% csrf_token %}
				<input type="hidden" name="listing_id" value={{ listing.id }}>
					{{ form }}
					<input type="submit" value="Place bid" class="btn btn-primary">
			</form>
			{% endif %}
		</div>
		</div>
	<div class="row">
		<div class="col-auto">
			<h4>Details:</h4>
			<ul>
				<li>Listed by: {{ listing.lister }}</li>
				<li>Category: {{ listing.category|default_if_none:"Uncategorized" }}</li>
			</ul>
		</div>
	</div>
	{% if user.is_authenticated %}
	<div class="row">
		<h4>Comments:</h4>
		<div class="col-auto m-2">
			{% if comments %}
			{% for comment in comments %}
			<div class="card mb-2 p-2 bg-light">
				<p>{{comment.content}}</p>
				<i>by {{ comment.poster }}
					<span class="smaller">at {{ comment.created_at|date:"H:i \o\n l jS F Y" }}</span>
				</i>
			</div>
			{% endfor %}
			{% else %}
			<p>No comments yet.</p>
			{% endif %}
			<h5>Add yours:</h5>
			<form action="{% url 'listing' listing.id %}" method="POST" class="mb-4">
				{% csrf_token %}
				{{ comment_form }}
				<button type="submit" name="comment" class="btn btn-sm btn-outline-primary" id="comment_submit">Add
					comment</button><br>
			</form>
		</div>
	</div>
	{% endif %}
	</div>

{% endblock %}