body {
    padding: 10px;
}


.listLink, .listLink:hover {
    text-decoration: none;
    color: black
}

.card img {
    width: 100%;
    object-fit: cover;
}
#logo{
    width: 10vw;
}

.listing_img {object-fit: cover;}

.small_form > *{
    margin-bottom:0.5vh
}

.bid_field{
    width: auto !important;
}